<div class="main_about">
    <h1>About Grass Roots</h1>
    <img id="deskpic" src="../../assets/arrangement-2264812_1280.jpg">
    <h3>and what were deeply rooted in..</h3>
    <p id="text_body">Grass Roots</p>
    <br/>
    <h1>What sets us apart</h1>
    <img id="deskpic" src="../../assets/black_and_white_rose.png">
    <h3>and makes us a Rose in a field of Daisies..</h3>
    <p id="text_body"></p>
</div>
<app-contact></app-contact>
<div class="founder">
  <h1>A quote from our founder</h1>
  <table>
    <tr>
      <td><img id="Hodor" src="../../assets/Hodor_1x04.jpg"></td>
      <p class="about_hodor">Hodor, hodor. Hodor. Hodor. Hodor, hodor, hodor hodor. Hodor, hodor. Hodor. Hodor. Hodor hodor. Hodor... Hodor hodor. Hodor! Hodor hodor. Hodor, hodor. Hodor. HODOR? Hodor! Hodor hodor.</p>
      <p class="about_hodor">HODOR hodor, hodor. Hodor hodor! Hodor! Hodor hodor. Hodor hodor. HODOR hodor, hodor. Hodor, hodor. Hodor. Hodor hodor! Hodor, hodor. Hodor. Hodor hodor HODOR! Hodor</p>
      <h3 class="about_hodor">-Hodor</h3>
    </tr>
  </table>
</div>
