<div class="wrap">
  <div class="mainbody">
    <h2 class="headers">Have questions?</h2>
    <h3 class="headers">Feel free to message me!</h3>
      <form action="https://formspree.io/atyler@gmail.com" method="POST">
            <div class="wrap">
                <div class="info">
                  <label>Name:</label>
                  <input type="text" placeholder="Your Name"/>
              </div>
              <div>
                <div class="info">
                  <label>Email Address:</label>
                  <input placeholder="Your Email"/>
              </div>
              <div class="textarea">
                  <label class="info">Comments:</label>
                <div class="form-group">
                  <textarea class="form" rows="7" placeholder="Your Message" id="message" required data-validation-required-message="Please leave a message" name="message">
                  </textarea>
              </div>
              </div>
              <div id="button_submit">
                <button class="submit" type="submit">
                  <i aria-hidden="true"></i>
                  Send Message
                </button>
              </div>
            </div>
            </div>
            </form>
  </div>
</div>