#nav-content{
    margin-left: 70%;
}

body{
    background-image: url('../assets/possiblegardenbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

h1{
margin-left: 15%;
font-family: 'Amatic SC', cursive;
font-size: 6em;
font-weight: 600
}

#different{
    background-color: rgba(83, 80, 80, .3);
    
    text-align: center;
}

footer{
    margin-left: 40%;
    font-weight: 600
}