#products-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#products-page nav {
    width: 100%;
}

#products-page nav .pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

#products-page nav .pagination .search {
    flex: 1 1 0;
    margin: 0 5%;
}