<section id="home-page">
  <h1>Welcome to the Grass Roots community!</h1>
  <div id="different">
      <p> HODOR HODOR! Hodor, hodor, hodor hodor. Hodor? HODOR? Hodor, hodor, hodor hodor. Hodor! Hodor hodor. Hodor, hodor. Hodor. Hodor. Hodor hodor! HODOR?

            HODOR? Hodor... Hodor hodor. HODOR? HODOR hodor, hodor. Hodor... Hodor hodor. Hodor hodor. HODOR? Hodor hodor! Hodor... Hodor hodor. HODOR HODOR! Hodor hodor. HODOR? Hodor, hodor, hodor hodor. Hodor hodor! Hodor! Hodor hodor.
            <br />
            Hodor, hodor. Hodor. Hodor. Hodor, hodor. Hodor. Hodor hodor HODOR! Hodor. Hodor hodor. Hodor... Hodor hodor. Hodor?
            <br />
            Hodor... Hodor hodor. Hodor... Hodor hodor. Hodor hodor HODOR! Hodor. Hodor! Hodor hodor. Hodor, hodor. Hodor. Hodor, hodor. Hodor. HODOR hodor, hodor. Hodor, hodor. Hodor. HODOR? Hodor hodor HODOR! Hodor.
            <br />
            Hodor, hodor, hodor hodor. Hodor, hodor. Hodor. HODOR hodor, hodor. Hodor, hodor, hodor hodor. HODOR hodor, hodor. Hodor! Hodor hodor. HODOR HODOR!
            <br />
            Hodor, hodor. Hodor. Hodor. Hodor, hodor. Hodor. Hodor. HODOR HODOR! Hodor hodor! Hodor hodor HODOR! Hodor. HODOR? HODOR? Hodor hodor!
            <br />
            Hodor! Hodor hodor. Hodor hodor HODOR! Hodor. Hodor hodor! Hodor?
            <br />
            <br />
            From our garden, to yours!
            </p>
  </div>
  <footer>©Copyright by Kaleb, Mitchell T., and Taylor</footer>
</section>